<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="fragment-nav">


    <div>
        <span><a href="/index/login">링크 URL</a></span>
        <span data-th-text="#{lang.change}"></span>:
        <select id="language">
            <option value="ja" data-th-text="#{lang.ja}"
                    data-th-selected=" ${param.lang eq null or param.lang?.toString()=='ja' }">japan</option>
            <option value="ko" data-th-text="#{lang.ko}"
                    data-th-selected=" ${param.lang?.toString()=='ko' }" >korea</option>

        </select>
    </div>

    <script th:inline="javascript">
            const path = [[${path}]]
            $('#language').change(() => {
              var selectedOption = $('#language').val();
                  if (selectedOption != ''){
                      window.location.replace(path + '?lang=' + selectedOption);
                  }
            })
    </script>
</nav>


</html>